* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ddd;
  justify-content: center;
  align-items: center;
  display: flex;
}

h1 {
  font-size: 66vh;
  text-align: center;
}
